<h1 class="text-center mb-3">{{title}}</h1>
<h4>Members</h4>
<ul class="list-group">
  {{#each members}}
  <li class="list-group-item">{{this.name}} - {{this.email}}</li>
  {{/each}}
</ul>
<div class="container mt-4" style="width: 60%;">
  <form action="/api/members" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="" class="form-control">
    </div>
    <input type="submit" value="Add member" class="btn btn-primary">
  </form>
</div>
<a href="/api/members" class="btn btn-light mt-4">Visit API</a>